node_modules/
dist/
build/
.turbo/
coverage/
.env
.env.local
.env.prod
*.log
.DS_Store
Thumbs.db
*.tsbuildinfo

# Editor
.idea/
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Prisma
apps/api/prisma/migrations/.gitkeep

# Docker volumes
.pgdata/
.redisdata/
.filestore/
